<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <title>Trybe - Project: WebChat</title>
  </head>
  <body>
    <h1 id="welcome-msg">WEBCHAT - Boas vindas!!!</h1>
    <section>
      <div>
        <input id="input-name" type="text" placeholder="Nickname..." data-testid="nickname-box">
        <button id="btn-name" data-testid="nickname-button">Change</button>
      </div>
      <div>
        <h3>Online users:</h3>
        <ul id="users"></ul>
      </div>
    </section>
    <section>
      <h3>Chat:</h3>
      <input id="input-msg" type="text" placeholder="Message..." data-testid="message-box">
      <button id="btn-msg" data-testid="send-button">Send</button>
      <ul id="chat">
        <% messages.forEach((msg) => {%>
          <li data-testid="message">
            <%= msg %>
          </li>
        <%})%>
      </ul>
    </section>
    <script>
      const socket = io('http://localhost:3000');

      // logica do connectedUsers desenvolvida com a ajuda do colega de turma Bruno Augusto
      socket.on('connectedUsers', (connectedUsers) => {
        const client = connectedUsers.find(({ id }) => id === socket.id);
        const listUsers = document.getElementById('users');

        listUsers.innerHTML = '';

        const newUser = document.createElement('li');
        newUser.innerText = client.nickname;
        newUser.setAttribute('data-testid', 'online-user');
        newUser.id = 'client';
        listUsers.appendChild(newUser);

        connectedUsers.forEach(({ id, nickname }) => {
          if (id !== socket.id) {
            const newUser = document.createElement('li');
            newUser.innerText = nickname;
            newUser.setAttribute('data-testid', 'online-user');
            listUsers.appendChild(newUser);
          }
        });
      });

      const btnName = document.getElementById('btn-name');
      btnName.addEventListener('click', () => {
        const input = document.getElementById('input-name');

        socket.emit('connectedUsers', { id: socket.id, nickname: input.value });
        input.value='';
      });

      socket.on('message', (msg) => {
        const chat = document.getElementById('chat');

        const newMsg = document.createElement('li');
        newMsg.innerText = msg;
        newMsg.setAttribute('data-testid', 'message');
        chat.appendChild(newMsg);
      });

      const btnSend = document.getElementById('btn-msg');
      btnSend.addEventListener('click', () => {
        const input = document.getElementById('input-msg');
        const client = document.getElementById('client').innerText;

        const nickname = client;
        const chatMessage = input.value;
        
        socket.emit('message', { chatMessage, nickname });
        input.value='';
      });
    </script>
  </body>
</html>
